body{
    font-size: 16;;
    color: #fff;
    font-family: 'oxygen',sans-serif;
background-color: maroon;
}
#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}
#logo-img{
    background-image: url('../images/restaurant-logo_large.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}